* {
    margin: 0;
    padding: 0;
}

:root {
    --font-titulo: "fonte-1";
    --font-subtitulo: "fonte-2";
    --font-texto: "fonte-3";
    --font-subtexto: "fonte-4";
}

@font-face {
    font-family: "fonte-3";
    src: url(font/Outfit-Regular.ttf);
}

@font-face {
    font-family: "fonte-4";
    src: url(font/Outfit-VariableFont_wght.ttf);
}

body {
    background-image: url(images/background.png);
}

main {
    width: 100%;
    max-width: 1600px;
    height: 85vh;
    background-color: hsl(212, 45%, 89%);
    margin: 60px auto;
}

section {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border-radius: 10px;
    background-color: whitesmoke;
    text-align: center;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    box-shadow: 7px 9px 5px rgba(0, 0, 0, 0.07);
}

section>.image {
    margin-bottom: 10px;
    width: 100%;
    max-width: 350px;
}

section>.text {}

section>.text>h1 {
    margin: 20px 0;
    font-family: var(--font-texto);
    font-size: 22px;
}

section>.text>p {
    margin: 20px 0;
    font-size: 15px;
    font-family: var(--font-subtexto);
}

@media screen and (max-width: 1600px) {
    main {
        width: 100%;
        max-width: 1700px;
        height: 100vh;
        background-color: hsl(212, 45%, 89%);
        margin: 0;
    }

    section {
        width: 100%;
        max-width: 300px;
        padding: 10px;
        border-radius: 10px;
        background-color: whitesmoke;
        text-align: center;

        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        box-shadow: 7px 9px 5px rgba(0, 0, 0, 0.07);
    }
}